.hiring-image{
    background-image: url(../../assets/Contactus.jpg);
    background-size: cover;
    width: auto;
    padding: 10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: x-large;
}

@media (max-width: 768px){
    .hiring-image{
        padding: 5rem;
    }
}