.contact{
    background-image: url(../../assets/lawyers2.jpg);
    background-size: cover;
    padding: 10rem;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact_button{
    padding: 1rem;
    font-weight: bold;
    font-size: medium;
    color: white;
    background-color: red;
}

@media (max-width: 768px){
    .contact{
        padding: 5rem;
    }
}