.navbar{
    background-color: rgb(11, 11, 73);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    justify-content: space-between;
}

li{
    font-weight: 400; 
    margin: 2rem;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.nested-list{
    color: #000;
    margin: 0;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #fff;
}

.nested-list a{
    color: #000;
}

.about{
    background-color: aliceblue;
    color: black;
    padding: 1rem;
    position: absolute;
    display: none;
}

.practice-areas{
    background-color: aliceblue;
    color: black;
    padding: 1rem;
    position: absolute;
    display: none;
}

li:hover ul{
    display: block;
}

/* li:hover ul a:hover{
    color: red;
} */

.nested-list a:hover{
    color: red;
}

.nav-icon-div{
    display: none;
}

@media (max-width: 768px){
    .right{
        display: none;
    }

    .nav-icon-div{
        display: block;
    }

    .nav-icon{
        display: block;
        font-size: xx-large;
        margin: 2rem;
    }

    .nav-icon-list{
        display: none;
    }

    .nav-icon:hover{
        border: 1px solid #fff;
        border-radius: 10%;
    }

    .nav-icon-div{
        position: relative;
    }

    .nav-icon-list{
        position: absolute;
        background-color: #fff;
        padding: 0.5rem;
        width: 6rem;
    }
}