.contact-image{
    background-image: url(../../assets/Contactus.jpg);
    background-size: cover;
    height: 40rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: x-large;
}

.contact-form{
    width: 30rem;
    padding: 4rem;
    border: 1px solid #000;
    margin: 0 3rem;
    
}

.contact-form input{
    padding: 1rem;
}

.form-attributes{
    display: grid;
    grid-template-columns: repeat(auto-fill,150px);
    grid-template-rows: auto;
    gap: 5rem;
}

.message-box{
    width: 25rem;
}

.contact-info{
    padding: 3rem 1rem 1rem 5rem;
}